In [20]:
# for database connections
import sqlalchemy
from sqlalchemy import create_engine, inspect, text

# data
import pandas as pd

In [21]:
SQL_USERNAME = "postgres"
SQL_PASSWORD = "postgres" # change this
SQL_IP = "localhost"
PORT = 5432
DATABASE = "crowdfunding" # change this

In [22]:
connection_string = f"postgresql+psycopg2://{SQL_USERNAME}:{SQL_PASSWORD}@{SQL_IP}:{PORT}/{DATABASE}"
engine = create_engine(connection_string)

In [23]:
# explore and understand the data

# Create the inspector and connect it to the engine
inspector = inspect(engine)

# Collect the names of tables within the database
tables = inspector.get_table_names()

# Using the inspector to print the column names within each table and its types
for table in tables:
    print(table)
    columns = inspector.get_columns(table)
    for column in columns:
        print(column["name"], column["type"])
        
    print()

contacts_df
contact_id INTEGER
first_name VARCHAR(250)
last_name VARCHAR(250)
email VARCHAR(250)

campaign_df
cf_id INTEGER
contact_id INTEGER
company_name VARCHAR(250)
description VARCHAR(250)
goal DOUBLE PRECISION
pledged DOUBLE PRECISION
outcome VARCHAR(250)
backers_count INTEGER
country VARCHAR(250)
currency VARCHAR(10)
launch_date TIMESTAMP
end_date TIMESTAMP
category_id VARCHAR(50)
subcategory_id VARCHAR(250)

category_df
category_id VARCHAR(50)
category VARCHAR(250)

subcategory_df
subcategory_id VARCHAR(50)
subcategory VARCHAR(250)

In [24]:
contacts_df = pd.read_csv("../Starter_Files/Resources/contacts.csv")
contacts_df.head()

   contact_id first_name last_name                          email
0        4661    Cecilia   Velasco   cecilia.velasco@rodrigues.fr
1        3765    Mariana     Ellis        mariana.ellis@rossi.org
2        4187      Sofie     Woods        sofie.woods@riviere.com
3        4941   Jeanette  Iannotti    jeanette.iannotti@yahoo.com
4        2199     Samuel   Sorgatz       samuel.sorgatz@gmail.com

In [25]:
contacts_df.to_sql("contacts_df", schema="public", con=engine, index=False, if_exists="append", method="multi")

1000

In [28]:
category_df = pd.read_csv("../Starter_Files/Resources/category.csv")
category_df.head()

  category_id      category
0        cat1          food
1        cat2         music
2        cat3    technology
3        cat4       theater
4        cat5  film & video

In [29]:
category_df.to_sql("category_df", schema="public", con=engine, index=False, if_exists="append", method="multi")

9

In [30]:
subcategory_df = pd.read_csv("../Starter_Files/Resources/subcategory.csv")
subcategory_df.head()

  subcategory_id  subcategory
0        subcat1  food trucks
1        subcat2         rock
2        subcat3          web
3        subcat4        plays
4        subcat5  documentary

In [31]:
subcategory_df.to_sql("subcategory_df", schema="public", con=engine, index=False, if_exists="append", method="multi")

24

In [32]:
campaign_df = pd.read_csv("../Starter_Files/Resources/campaign.csv")
campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,1970-01-01 00:00:01.581573600,1970-01-01 00:00:01.614578400,cat1,subcat1
1,1175,2288,Werner-Bryant,Virtual uniform frame,1800.0,7991.0,successful,222,US,USD,1970-01-01 00:00:01.592629200,1970-01-01 00:00:01.611986400,cat1,subcat1
2,873,2067,Stewart LLC,Cloned bi-directional architecture,1300.0,12047.0,successful,113,US,USD,1970-01-01 00:00:01.606629600,1970-01-01 00:00:01.623387600,cat1,subcat1
3,2568,5989,Castillo-Carey,Cross-platform solution-oriented process impro...,142400.0,21307.0,failed,296,US,USD,1970-01-01 00:00:01.588654800,1970-01-01 00:00:01.622350800,cat1,subcat1
4,1211,3307,"Wright, Hartman and Yu",User-friendly tertiary array,3300.0,12437.0,successful,131,US,USD,1970-01-01 00:00:01.611900000,1970-01-01 00:00:01.613196000,cat1,subcat1

In [33]:
campaign_df.to_sql("campaign_df", schema="public", con=engine, index=False, if_exists="append", method="multi")

1000

In [ ]:
# engine * select